@font-face {
    font-family: "Potter";
    src: url("font/HarryPotter-ov4z.ttf");
}
img {
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

.fa-star,
.fa-star-half {
    color: yellowgreen;
    padding: 3% 0;
}

#cart_count {
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart {
    padding: 3% 0;
}

.cart-items + .cart-items {
    padding: 2% 0;
}

.price-details h6 {
    padding: 3% 2%;
}
.navbar-brand {
    font-family: "Potter";
}
.cartName {
    font-family: "Potter";
}
.text-center .col-md-3:hover {
    z-index: 1;
    transform: scale(1.11);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.text-center .col-md-3 {
    padding-top: 50px;
}
#welcome {
    font-family: "Potter";
}
#logout {
    font-family: "Potter";
}
.purchaseButton {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #113eaedf, #9af5fd, #1307bee8);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    margin-top: 200px;
    transform: translateX(-100%);
}
/* .purchaseButton {
    color: #d62020;
    margin-right: 10px;
    background: #fff;
} */
.purchaseButton:hover {
    background-position: right;
}
