@font-face {
    font-family: "Potter";
    src: url("font/HarryPotter-ov4z.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Images/hpbg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
/* align items center vertically and horizontally  */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
    height: 100vh;
    width: 100vh;
    display: flex;
    text-align: center;
}
.form {
    width: 400px;
    height: auto;
    position: relative;
    left: 900px;
    padding: 10px;
    background-color: rgba(41, 39, 39, 0.3);
    box-shadow: 0 5px 100px black;
    backdrop-filter: blur(10px);
}
.btn button {
    padding: 3px;
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
}
.formGroup {
    display: flex;
    justify-content: center;
}
.formGroup input {
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}
input:focus {
    outline: none !important;
    border-bottom: 2px solid rgb(91, 243, 131);
    font-size: 17px;
    font-weight: bold;
    color: white;
}
::placeholder {
    color: white;
}
.checkBox {
    display: flex;
    justify-content: center;
    margin: 16px !important;
}

#checkbox {
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
.text {
    color: rgb(199, 197, 197);
    font-size: 13px;
    font-family: "Potter";
}

.radioGender {
    font-family: "Potter";
}
/* hide signup form */
.login {
    display: none;
}

/* Login form code */
.login {
    margin-top: 40px;
}
.login .checkBox {
    margin-top: 30px !important;
}

.signUpBtn {
    padding: 30px;
    margin: 5px 8px 20px 5px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
    font-family: "Potter";
}
.loginBtn {
    padding: 3px;
    margin: 5px 8px 20px 5px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
    font-family: "Potter";
}
.signUpTitle {
    padding-top: 20px;
    font-family: "Potter";
}
.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0 5px 10px;
    border-bottom: 2px solid #d9d9d9;
}
.div {
    font-family: "Potter";
    position: relative;
}
.logInTitle {
    padding-top: 20px;
    font-family: "Potter";
}
.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.3s;
}
.signUpGender {
    font-family: "Potter";
}
.radioOption {
    font-family: "Potter";
}
.i {
    color: #878787;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
}

.i i {
    transition: 0.3s;
}
.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.3s;
}

.input-div:before,
.input-div:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #ff3737;
    transition: 0.4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i {
    color: #fc3842;
}

.input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: "poppins", sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}
